<p id="notice"><%= notice %></p>

<div class="container">
 <div class="form">

  <div class="row">
    <div class="col-xs-12 center-block display-3">All Articles</div>
  </div>

　<div class="row">

    <% @articles.each do |article| %>
     <div class="col-xs-6 col-lg-3 text-center mb-4">

　　　<div class="card-columns">
      <%= link_to article do %>
      <div class="card" style="width: 15rem;">
        <div class="card-img-top">
          <%= attachment_image_tag article, :main_picture, fallback: "no_image.jpg", class: "img-fluid mx-auto rounded-top"%>
        </div>

        <div class="card-body">
          <%= article.title.truncate(25) %>
          <p class="card-text"><%= simple_format article.body.truncate(60) %></p>
          <div><% article.tag_list.each do |tag| %>
            <%= link_to tag, articles_path(tag_name: tag), class: "badge badge-primary" %>
            <!-- tag_nameにarticle.tag_listで取り出したタグをパラメータとして渡す -->
          <% end %>
          </div>
        </div>

        <div class="card-footer">
          <div class="badge badge-pill badge-secondary btn-sm ml-2"><%= article.address %></div>
          <div class="badge badge-pill badge-secondary btn-sm ml-2"><%= article.category %></div>
        </div>
      </div>
      <% end %>
     </div>

     </div>
    <% end %>

  </div>


 </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Article', new_article_path %>
<% end %>
