<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="form">

  <div class="row">
  <div class="col-lg-10 col-md-10 ml-auto mr-auto">


    <div class="row align-items-end">
      <div class="col-md-2">

       <%= link_to user_path(@user.id) do %>
        <p><%= attachment_image_tag @user, :image, fallback: "no_image.jpg", size: '350x150', 
    class: "rounded-circle img-fluid d-block mx-auto"%></p>

         <div class="text text-center ">
           <p>投稿者:<%= @user.webname %></p>
         </div>
       <% end %>

       <div id="likes_buttons_<%= @article.id %>">
         <%= render partial: 'likes/like', locals: { article: @article, likes: @likes} %>
       </div>

     </div>
     <div class="col-md-10">
       <%= attachment_image_tag @article, :main_picture, format: 'jpeg', size: '600x300', class: "rounded img-fluid d-block mx-auto mb-5", fallback: "no_image.jpg" %>
     </div>
　　</div>


    <div class="card text-center">

    <div class="card-header">
      <h4><%= @article.title %></h4>
    </div>

    <div class="card-body">
      <p>
        <%= simple_format @article.body %>
      </p>
    </div>

    <div class="card-footer">
    <p>
      <strong>Date:</strong>
      <%= @article.date %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @article.country %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @article.category %>
    </p>

    <p>
      <strong>Tags:</strong>
       <% @article.tag_list.each do |tag| %>
        <%= link_to tag, articles_path(tag_name: tag), class: "badge badge-primary" %>
        <!-- tag_nameにarticle.tag_listで取り出したタグをパラメータとして渡す -->
       <% end %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @article.address %>
    </p>
    </div>

    <% if @article.article_pictures.present? %>
      <% @article.article_pictures.each do |picture| %>
        <%= attachment_image_tag picture, :picture, format: 'jpeg', size: '200x200', class: "img-thumbnail ml-4 mt-3 mb-3" %>
      <% end %>
    <% end %>


    <style type="text/css">
      #map { height: 400px;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        width: 80%;}
    </style>
    <div id="map"></div>

    <div>
        <h4 class="text mt-4">コメント</h4>
        <% @comments.each do |comment| %><br/>
            投稿者：<%= comment.user.webname %><br/>
            コメント：<%= comment.message %>
              <% if comment.user == current_user %>
                <p><%= link_to '× post delete', article_comment_path(comment.article_id, comment.id), method: :delete, class: "btn btn-primary btn-sm" %></p>
              <% end %>
            <% end %>
        <% if user_signed_in? %>
          <!-- コメント入力欄をブログの詳細ページに表示するため-->
          <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
        <% end %>
      </div>

    </div>

  </div>
  </div>

 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 text-center ml-auto mr-auto mt-3 mb-3">

     <%= link_to '<< Back', articles_path, class: "btn btn-primary btn-sm ml-2" %>
     <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary btn-sm ml-2" %>
        <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-primary btn-sm ml-2"%>
      <% end %>
     <% end %>

    </div>
  </div>
</div>


