<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header bg-info text-white">
  <strong>Title:</strong>
  <h4><%= @article.title %></h4>
</div>

<div class="card-body">
  <p>
    <strong>Body:</strong>
    <%= @article.body %>
  </p>
</div>

<div class="card-footer">
<p>
  <strong>Date:</strong>
  <%= @article.date %>
</p>

<p>
  <strong>Country:</strong>
  <%= @article.country %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Tags:</strong>
   <% @article.tag_list.each do |tag| %>
    <%= link_to tag, articles_path(tag_name: tag), class: "badge badge-primary" %>
    <!-- tag_nameにarticle.tag_listで取り出したタグをパラメータとして渡す -->
   <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @article.address %>
</p>
</div>


<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>

<div>
    <h4>コメント</h4>
    <% @comments.each do |comment| %><br/>
        投稿者：<%= comment.user.webname %><br/>
        コメント：<%= comment.message %>
          <% if comment.user == current_user %>
            <p><%= link_to 'コメントを削除する', article_comment_path(comment.article_id, comment.id), method: :delete %></p>
          <% end %>
        <% end %>
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するため-->
      <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
    <% end %>
  </div>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
