<h1>Hosts#show</h1>

<p>会社名/団体名 : <%= @host.group_name %></p>
<p>代表者名 : <%= @host.rep_name %></p>
<p>住所 : <%= @host.address %></p>
<p>電話番号 : <%= @host.phonenum %></p>
<p>連絡用メールアドレス : <%= @host.email %></p>
<p>ホームページURL : <%= @host.url %></p>

<% if @host.id == current_host.id %>
 <p><%= link_to "プロフィール編集", edit_host_path(@host) %></p>
<% end %>
