<% if user_signed_in? %>

  <% unless article.like_user(current_user.id).blank? %>
    <%= link_to article_like_path(article_id: article.id ,id: article.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical-align-top">
        <i class="far fa-bookmark fa-2x text-danger"></i>
        <span class="orange-text">
          <%= article.like_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to article_likes_path(article.id), method: :post, remote: true do %>
      <div class="vertical-align-top">
        <i class="far fa-bookmark fa-2x text-multed"></i>
        <span class="grey-text text-multed">
          <%= article.like_count %>
        </span>
      </div>
    <% end %>
  <% end %>

<% else %>

  <% if article.like_count > 0 %>
    <div class="vertical-align-top">
        <i class="far fa-bookmark fa-2x text-danger"></i>
      <span class="orange-text">
        <%= article.like_count %>
      </span>
    </div>
  <% else %>
    <div class="vertical-align-top">
        <i class="far fa-bookmark fa-2x text-multed"></i>
      <span class="grey-text text-multed">
        <%= article.like_count %>
      </span>
    </div>
  <% end %>

<% end %>