<h1>Users#edit</h1>

<%= form_for(@user) do |f| %>

　　<div class="form-group has-icon">
　　<div class="user-edit-image">
        <%= attachment_image_tag @user, :image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
    </div>
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
         <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
　　</div>

    <div class="form-group has-icon">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control',placeholder:"名前" %>
    </div>

    <div class="form-group has-icon">
        <%= f.label :webname, 'ニックネーム' %>
        <%= f.text_field :webname, class: 'form-control',placeholder:"ニックネーム" %>
    </div>

    <div class="form-group has-icon">
        <%= f.label :profile, 'プロフィール' %>
        <%= f.text_field :profile, class: 'form-control',placeholder:"プロフィール" %>
    </div>

    <div class="form-group has-icon">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, class: 'form-control',placeholder:"メールアドレス" %>
    </div>

    <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>