<div class="container">
  <div class="form">

    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto mb-5">

        <%= form_for(@user) do |f| %>

　　      <div class="form-group has-icon">
　　      <div class="user-edit-image">
            <h5><%= f.label '現在のプロフィール画像' %></h5>
              <%= attachment_image_tag @user, :image, :fill, 60, 60, class: "img-circle pull-left", fallback: "no_image.jpg"%>
          </div>
            <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
               <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
　　      </div>

          <div class="form-group has-icon">
              <%= f.label :name, '名前' %>
              <%= f.text_field :name, class: 'form-control',placeholder:"名前" %>
          </div>

          <div class="form-group has-icon">
              <%= f.label :webname, 'ニックネーム' %>
              <%= f.text_field :webname, class: 'form-control',placeholder:"ニックネーム" %>
          </div>

          <div class="form-group has-icon">
              <%= f.label :profile, 'プロフィール' %>
              <%= f.text_area :profile, :size => "70x20", class: 'form-control', placeholder:"プロフィール(100文字以内)" %>
          </div>

          <div class="form-group has-icon">
              <%= f.label :email, 'メールアドレス' %>
              <%= f.text_field :email, class: 'form-control',placeholder:"メールアドレス" %>
          </div>

          <%= f.submit "変更を保存", class: 'btn btn-primary btn-sm mr-auto ml-auto' %>
        <% end %>

      </div>
    </div>
    
  </div>
</div>