  <div class="row">

   <div class="col-lg-10 col-md-10 ml-auto mr-auto">
    <h1 class="text-center">\ New Event /</h1>

    <div class="card p-5" style="width: 50rem;">
      <%= form_with(model: event, local: true) do |form| %>

        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="date">
          <%= form.label :"日付をお選びください" %>
          <%= form.date_select :date %>
        </div><br>

        <div class="field">
            <%= form.label :"タイトル" %>
            <%= form.text_field :title, :size => "50x10" %>
        </div>

        <div class="field">
          <p>テキスト入力部分　(1000文字以内)</p>
          <%= form.text_area :body, :size => "70x20" %>
        </div>

        <%= attachment_image_tag @event, :picture, format: 'jpeg', class: "", fallback: "no_image.jpg", :size =>'150x100' %><br>

        <div class="field">
          <%= form.label :"イメージ写真" %>
          <%= form.attachment_field :picture %>
        </div><br>


        <div class="field">
          <%= form.label :"都道府県" %>
          <%= form.collection_select :prefecture_name, JpPrefecture::Prefecture.all,:name, :name, {:prompt => true}, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :"行われる場所/施設名" %>
          <%= form.text_field :address %>
        </div>


        <div class="actions">
          <%= form.submit %>
        </div>
      
      <% end %>
    </div>

   </div>

  </div>