<p id="notice"><%= notice %></p>

<div class="container">
  <div class="form">


  <div class="row">
    <div class="col-xs-12 center-block display-3">All Events</div>
  </div>

    <dev class="row">

     <div class="col-md-3">
      <%= render partial: '/home/mybox' %>
      <%= render partial: '/home/hostsbox', locals: {host: current_host} %>
     </div>

      <div class="col-md-9 float-right">

          <table class="table table-striped">
　　　　　　　<tbody>
              <% @events.each do |event| %>
                <tr>
                  <td><%= link_to event do %>
                    <%= attachment_image_tag event, :picture, format: 'jpeg', class: "img-thumbnail", fallback: "no_image.jpg", :size =>'100x80' %></td>
                  <% end %>
                  <td><p><%= event.date %></p></td>
                  <td><p><%= event.title.truncate(10) %></p></td>
                  <td><p><%= event.prefecture_name %></p></td>
                  <td><p><%= event.address %></p></td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
    </dev>

  </div>
</div>
