<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>


<p id="notice"><%= notice %></p>

<div class="container">
  <div class="form">

    <dev class="row ">
      <div class="col-md-3">

        <%= render partial: '/home/mybox' %>
        <% if host_signed_in? %>
          <%= render partial: '/home/hostsbox', locals: {host: current_host} %>
        <% end %>
      </div>


      <div class="col-md-9 float-right">

        <dev class="row ">
          <div class="col-md-10 offset-md-1 mr-auto">
            <%= attachment_image_tag @event, :picture, format: 'jpeg', class: "rounded", fallback: "no_image.jpg", :size =>'800x500' %>
          </div>
        </dev><br>

        <div class="row">
              <div class="col-md-8">
                <div class="display-5 border-bottom">
                  <div class="text"><%= @event.title %></div>
                </div>
              </div>
              <div class="col-md-3">
                <h5>
                  <%= @event.date %>
                </h5>
              </div>
              <div class="col-md-1">
                <!-- 気になるボタンを追加/ -->
                <div id="joins_buttons_<%= @event.id %>">
                  <%= render partial: 'joins/join', locals: { event: @event, joins: @joins} %>
                </div>
              </div>
        </div>

        <div class="row">
              <div class="col-md-8 offset-md-2 mt-3">
                <div class="text">
                  <h5><%= @event.prefecture_name %> /  <%= @event.address %></h5><br>
                  <p><%= @event.body %></p>
                  <%= link_to host_path(@host) do %>
                    <p class="text-right border-bottom">イベント主催者 : <%= @host.group_name %></p>
                  <% end %>
                </div>
              </div>
        </div><br>


        <style type="text/css">
        #map { height: 400px;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        width: 80%;}
        </style>
        <div id="map"></div>

        <% if host_signed_in? %>
        <% if @event.host_id == current_host.id %>
          <%= link_to '内容を編集する', edit_event_path(@event), class: "btn btn-primary btn-sm mr-auto ml-auto mt-5 mb-5" %>
        <% end %>
        <% end %>
          <%= link_to '<< Events', events_path, class: "btn btn-primary btn-sm mr-auto ml-auto mt-5 mb-5" %>

      </div>
    </dev>

  </div>
</div>







