<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Brocante</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- bootstrap4を読み込む！ -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- bootstrap4を読み込む！ -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBClg0DBgLluH4TKeYOZDfBFXWQc-xLATs&callback=initMap" async defer></script> <!-- googlemapを読み込む！ -->

    <link rel=“stylesheet” href=“style.css”> <!-- style.cssを読み込む！ -->
    <%= stylesheet_link_tag "custom", :media => "all" %> <!-- bootstapに上書きするcssを読み込む！ -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet"><!-- googlefontを読み込む！ -->
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet"><!-- fontawesomeを読み込む！ -->
　</head>
  
  <body>

    <%= render 'layouts/flash' %>




  <header class="site-header">
    <h1 class="site-logo"><%= link_to 'Brocante', root_path %></h1>
    <nav class="gnav">
        <ul class="gnav__menu">

            <span class="gnav__menu__item"><h5 class="fas fa-angle-double-down mr-2"><a href="#sec1"> About</a></h5></span>
            <span class="gnav__menu__item"><h5 class="fas fa-handshake mr-2"><a href="#sec2"> toHost</a></h5></span>
            <span class="gnav__menu__item"><h5 class="fas fa-info-circle mr-2"><a href=""> Info</a></h5></span>
            <span class="gnav__menu__item">
              <%= link_to articles_path do %>
                <h5 class="gnav__menu__item fas fa-book-open mr-2"><a href=""> Articles</a></h5>
              <% end %>
            </span>

            <span class="gnav__menu__item">
              <%= link_to events_path do %>
                <h5 class="gnav__menu__item fas fa-warehouse mr-2"><a href=""> Events</a></h5>
              <% end %>
            </span>

             <% if host_signed_in? then %>
               <span class="gnav__menu__item">
               <h5 class="gnav__menu__item fas fa-sign-out-alt mr-2">
               <%= link_to 'Log-out', destroy_host_session_path, method: :delete %></h5></span>
             <% end %>

        </ul>
    </nav>
　</header>

    <%= yield %>
      <footer class="site-footer">
        <p class="copyright">@2019 WEBCAMP</p>
      </footer>
  </body>
</html>
