<!DOCTYPE html>
<html>
  <head>
    <title>Brocante</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel=“stylesheet” href=“style.css”>
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBClg0DBgLluH4TKeYOZDfBFXWQc-xLATs&callback=initMap" async defer></script>

    <% if user_signed_in? then %>
      <span><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></span>
      <span><%= link_to 'マイページ', user_path(current_user.id) %></span>
    <% else %>
      <%= link_to 'ユーザーログインページ', new_user_session_path, method: :get %>
    <% end %>

    <% if host_signed_in? then %>
      <span><%= link_to 'ログアウト', destroy_host_session_path, method: :delete %></span>
      <span><%= link_to '主催者様ページ', host_path(current_host.id) %></span>
    <% else %>
      <%= link_to '主催者ログインページ', new_host_session_path, method: :get %>
    <% end %>


  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
